@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --laranja: #ff8906;
    --laranja-escuro: #f25f4c;
    --azul-marinho: #121414;
    --lilas:#a7a9be;
    --branco: #fff;
}

.navbar{
    display: flex;
    width: 1;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--laranja);
    background-color: var(--azul-marinho);
    padding: 0 20px;
    color: var(--branco);
    font-family: 'Bebas Neue';
    margin-bottom: -10%;
}

.span-nav{
    color: var(--laranja);
}

.page{
    background-color: var(--azul-marinho);
}

.links a{

    font-size: 13px;
    font-weight: 400;
    margin-right: 10px ;
    color: var(--branco);
    border-bottom: 1px solid #ff8906;
}

.page-content-index{
    background-color:var(--azul-marinho);
    font-family:'inter' ;
    margin-top: 20%;
}

.block{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    margin: auto;
    flex-wrap: wrap;
    max-width: 90%;
    padding-bottom: 40px;
}
.span-nome{
    color: var(--laranja);
}

.span-home{
    color: gray;
    font-size: 20px;
    white-space: wrap;
}

.container-texto{
    flex: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    font-weight: 900;
    color: var(--branco);
    
}

.img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
   
}
.img img{
    height: 100%;
    width: 100%;
    animation: flutuar 4s ease-in-out infinite;
    
}

.botoes button{
    border: none;
    padding: 15px;
    border-radius: 20px;
    font-family:'inter' ;
    font-weight:500;
    background-color: var(--laranja);
}
a{
    text-decoration: none;
    color: var(--branco);

}

.whatsapp{
    position: absolute;
    text-decoration: none;
    color: #fff;
    left: 95%;
    top: 90%;
    background-color: #2cb67d;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    transition: .5s ease-in-out;
}

.whatsapp:hover{
    scale: 1.2;
}

@media (min-width:990px){
    .page-content-index{ 
        margin-top: 15%;
    }
    .img{
        height: 400px;
    }
}




@keyframes flutuar{
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-12px); } /* sobe 12px */
    100% { transform: translateY(0); }
}