@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

h4{
    font-size: 20px;
    color: #f1f1f1c9;
}
.sobre{
    color: #fff;
}
.biografia{
    font-family: 'bebas neue';
    font-size: 20px;
}



